

body {
    width: 99%;
    background-color: #d3d5d3;
    font-size: 18px;
}

header{
    width: 100%;
}

.header-nav-1 {
    background-color: #979797;
    width: 100%;
    display: block;
    border-radius: 2%;
}

section {
    background-color: #979797;
    width: 100%;
    padding-top: 0px;
    display: block;
}

.header-ul-2 {
    display: flex;
    list-style: none;
}

.header-ul-2 li {
    padding-right: 5%;
    text-decoration: none;
}

.header-ul-2 li a {
    text-decoration: none;
}