

body {
    width: 99%;
    background-color: #d3d5d3;
    font-size: 18px;
}

header{
    width: 99%;
    border-radius: 5px;
    background-color: #a1a1a1;
    padding: 2px;
    margin-left: 2px;
}

header div {
    width: 100%;
}


header div ul {
    display: flex;
}

header div ul li {
    list-style: none;
}


header div ul li a {
    text-decoration: none;
    color: #212121;
    padding-right: 5px;
}



section {
    background-color: #979797;
    width: 100%;
    padding-top: 0px;
    display: block;
}
